.criminalsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.criminal {
    border: 2px solid black;
    background: #9ebc99;
    flex-basis: 25%;
    margin: 12px 0;
    padding: 0 8px 12px;
}

.criminalName {
    color: #4e7851;
    font-weight: 400;
}

div {
    color: #a96562;
}