.facilityContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.facility {
    border: 2px solid black;
    background: #a09fd3;
    flex-basis: 25%;
    margin: 12px 0;
    padding: 0 8px 12px;
    color: #330668;

}

.facilityName {
    color: #4e7851;
    font-weight: 400;
}